*{
    margin: 0;
    padding: 0;
}

.app-container-opacity  {
    background: rgb(59, 1, 1);
    border-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    justify-content: center;
  }

header{
    height: 100vh;
    padding-top: 0;
    overflow: hidden;
}

.header__container {
    margin-top: 6.5rem;
    text-align: center;
    height: 100%;
    position: relative;
}
.navigate {
    margin-top: 1rem ;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

  .app-name {
    margin: 20px 0 15px -5px;
    min-width: 15vw;
    background-image: linear-gradient(
      -225deg,
      #f8f6f1 10%,
      #fff800 55%,
      #ffa060 70%,
      #ffa406 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
  }

p{
    font-family: "Dancing Script", cursive;
    font-size: 95px;
}

  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  
  
/* ==========CTA ========== */

.cta {
    margin-bottom: 2rem;
    display: flex;
    gap: 1;
    justify-content: center;
}

/* =========Header socials ======== */
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    position: absolute;
    left: 5rem;
    top: 1rem;
    size: 5px;
    }
    
    .CTA::after{
        width: 1px;
        height: 2rem;
        background: var(--color-primary);
    }

  /*===========CONTACT===========*/
    .container.contactus__container{
        width: 58%;
        display:grid;
        grid-template-columns: 30% 58%;
        gap: 12%;
        padding-top: 0;
        margin-top: 0%;
     }
     
     .contactus__options {
         display: flex;
         flex-direction: column;
         gap: 1.2rem;
     }
     
     .contactus__option {
         background: var(--color-bg-variant);
         padding: 1.2rem;
         border-radius: 1.2rem;
         text-align: center;
         border: 1px solid transparent;
         transition: var(--trasition);
         margin: 1.2rem;
     }
     
     .contactus__option:hover {
         background:var(--color-primary) ;
         border-color: var(--color-primary);
     }
     
     .contactus__option-icon {
         font-size: 2rem;
         margin-bottom: 0,5rem;
     }
     
     .contactus__option a {
         margin-top: 0.7rem;
         display: inline-block;
         font-size: 0.8rem;
     }
     /*===========FORM===========*/
     
     form{
         display: flex;
         flex-direction: column;
         gap: 1.2rem;
     }
     
     input, textarea {
         width: 1005;
         padding: 1.5rem;
         border-radius: 0.5rem;
         background: transparent;
         border: 2px solid var(--color-primary);
         resize: none;
         color: var(--color-white);
     } 

/* ========== OFFICIALS ========== */

.container.officials_container {
    width: 40%;
    padding-bottom: 4rem;
}

.k_avatar {
    width: 10rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 20%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-bg);
}

.official {
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
    margin: 1.2rem;
}

.k_title {
    color: var(--color-light);
    font-family: "Dancing Script", cursive;
    font-weight: 400;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
   
}

 /*===========FOOTER===========*/
     footer {
        background: var(--color-primary);
        padding: 3rem 0;
        text-align: center;
        font-size: 1rem;
        margin-top: 7rem;
        font-family: "Poppins", sans-serif;
        background: var(--color-bg);
        color: var(--color-white);
        line-height: 2;
        background-image: url("/src/assets/image4.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 70vh;
    }
    
    footer a {
        color: var(--color-primary);
    }
    
    footer a:hover {
        color: var(--color-light);
    }
    
    .footer__logo {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 1rem;
        display: inline-block;
    }
    
    .permalinks {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        margin: 0 auto 3rem;
    }
    
    .footer__socials {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }
    
    .footer__socials a {
        background: transparent;
        color: var(--color-primary);
        padding: 0.8rem;
        border-radius: 0.7rem;
        display: flex;
        border: 1px solid var(--color-primary);
    }
    
    .footer__socials a:hover {
        background: transparent;
        color: var(--color-light);
        border-color: var(--color-light);
    }
    
    .footer_copyright {
        margin-bottom: 1rem;
        color: var(--color-primary);
    }
    
 

    /*======== MEDIA QUERIES (MEDIUM DEVICES) ========*/
@media screen and (max-width: 1204px) {
    header {
      height: 68vh;
    }

    .container.contactus__container{
        grid-template-columns: 1fr;
        gap: 2rem;
       }
    
    .container.officials_container {
        width: 60%;
    } 
     }
  
  
  /*======== MEDIA QUERIES (small DEVICES) ========*/
  @media screen and (max-width: 600px) {
     .header {
        height: 100vh;
      }

      .header__socials{
        display: none;
      }

      header p {
        min-width: 15vw;
        font-size: 60px;
    }

      .container.contactus__container {
        width: var(--container-width-sm);

    }
    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
       } 
    
    .footer__socials {
        margin-bottom: 2.6rem;
       }

    .container.officials_container {
        width: var(--container-width-sm);
    } 
    .k_title {
        width: var(--container-width-sm);
    } 
     }
  